doctype html
html(lang="en")
  head
    title Landing Page
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    h1 The future home of something magical
    p Oh you’ve got green eyes, oh you’ve got blue eyes, oh you’ve got grey eyes... 