doctype html
html(lang="en")
  head
    title Flash Cards
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header
      h1 Flash Cards
      block content
    footer    
      p An app to help you study 